@custom-media --tablet (min-width: 768px);

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.card {
  max-width: 460px;

  p {
    color: blue;

    @media (--tablet) {
      color: rebeccapurple;
    }
  }
}
